body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #DFDFDF;
    min-width: 300px;
}

.header {
    background-color: #3f3f3f;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #696969), color-stop(100%, #3f3f3f));
    background-image: -webkit-linear-gradient(top, #696969 0%,#3f3f3f 100%);
    background-image: linear-gradient(top, #696969 0%,#3f3f3f 100%);
    line-height: 30px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.list a,
.list a:visited,
.list a:active {
    font-weight: bold;
    line-height: 16px;
    color: #0077b5;
    text-decoration: none;
    font-size: 13px;
    color: #0073B2;
}

.list a:hover {
    text-decoration: underline;
}

.list li {
    padding: 3px;
}

.list ul {
    list-style: none;
    padding: 0 0 0 10px;
}
